.info-area {
    -fx-background-color: #DFEFCA;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-min-height: 150px;
    -fx-min-width: 250px;
}

.controlls-area{
    -fx-min-width: 250px;
}

.root-container {
    -fx-background-color: #CCDDD3;
}

.info-number-label{
    -fx-font-size: 33px;
    -fx-font-weight: bold;
}

.info-label{
    -fx-font-size: 16px;
}

#tvInfo .table-column {
    -fx-alignment: CENTER;
}