.info-area {
    -fx-background-color: #DFEFCA;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-min-height: 150px;
    -fx-min-width: 250px;
}

infor-button-label {

}

.root-container {
    -fx-background-color: #CCDDD3;
}

.field-label {

}

.info-label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}